.bg{
 background-color: #272A2D;
  height:250px;
  margin:20px;
  border-radius: 20px;
}

.card{
  color: white;
  margin: 20px;
  background-color:  black;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  border: #3a3a3a;
}
.bg img{
  padding: 15px;
  padding-top: 175px;
  height:100px;
  width:100px;
  border-radius: 25px;
}

.linkStyle{
text-decoration: none;
}

.container{
  padding: 20px;
}
.container h2{
  font-weight: bolder;
}

.card{
  display: flex;
  flex-direction: row;
}
.des{
  width: 800px;
}
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; 
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.imageContainer {
  width: 250px;
  height: 250px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
}

.imageContainer img {
  max-width: 100%;
  max-height: 100%;
}

.metaData {
  margin-top: 10px;
}
